.famous-phrase-wrapper {
    /* padding: 0 5% 0 5%; */
    text-align: center;
    width: 100%;
    background-image: url(./Images/photo-of-woman-sitting-on-wheelchair-4064550.jpg);
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

.style_img2 {
    background-color: rgba(36, 36, 36, 0.56);
    width: 100%;
    height: 80%;
    max-width: 100%;
    max-height: 100%;
    padding: 15% 0 3% 0;

}

.famous-phrase {
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
    width: 90%;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 2px 2px 0 0 darkgray;
}

.famous-phrase-text {
    color: darkgray;
    padding: 30px 10px 10px 10px;
    text-align: left;
    font-size: 18px;
}

.famous-phrase-text-author {
    text-align: left;
    padding: 0 0 15px 10px;
    font-size: 18px;
}

/* contactn form */
.form-wrapper {
    padding: 0 5% 0 5%;
    text-align: center;
}

.form-article {
    padding: 25% 0 25% 0;
    font-size: 32px;
    text-align: left;
}

.contact-input {
    background-color: rgb(221, 221, 221);
    border: none;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 30px;
}

.contact-submit {
    margin-top: 10px;
    width: 100%;
    max-width: 100%;
    color: black;
    border: 2px solid #d9b256;
    padding: 11px 15px 11px 15px;
    border-radius: 20px;
    background-color: #fff;
    font-size: 18px;
    margin-bottom: 30px;
    transition: 0.3s;
}

@media (min-width: 768px) { 
    /* .famous-phrase-wrapper {
        height: 100%;
        height: 50vh;

    } */

    .famous-phrase {
        width: 50%;
        margin-left: 5%;
    }

    .style_img2 {
        padding: 10% 0 10% 0;
    }
}

@media(min-width: 960px) { 
    .famous-phrase-wrapper {
        min-height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

  
    .famous-phrase {
        margin: 0;
        margin-left: 10%;
        width: 35%;
       
    }
}