.portfolio-section {
    background-color: darkslategray;
    padding: 0 5% 12% 5%;
    text-align: center;
}

.portfolio-jobs {
    background-color: darkslategray;

}

.portfolio {
    background-color: #fff;
}

.portfolio-article {
    color: #fff;
    text-align: center;
    padding-top: 25%;
    padding-bottom: 10%;
}

.portfolio-job-wrapper {
    padding: 0 6% 0 6%;
    margin: 20px 0px 20px 0px;
    background-color: #fff;
}

.portfolio-image {
    max-width: 100%;
    max-height: 100%;
}

.square {
    text-align: left;
    padding: 60px 0 20px 0;
    font-size: 20px;
}

.porfolio-job-description {
    color: brown;
    text-align: left;
    font-size: 18px;
    line-height: 1.5;
    padding-bottom: 60px;
}

.btn {
    margin-top: 10px;
    width: 100%;
    max-width: 100%;
    color: #d9b256;
    border: 2px solid #d9b256;
    padding: 11px 15px 11px 15px;
    border-radius: 20px;
    background-color: darkslategray;
    font-size: 18px;
    transition: 0.3s;
}
.btn:hover {
    background-color: #d9b256;
    color: white;
}
@media (min-width: 768px) { 
    .portfolio-jobs {
        background-color: #fff;
    }

    .portfolio-article {
        padding-top: 10%;
        padding-bottom: 5%;
    }

    .portfolio-section {
        padding-bottom: 7%;
    }

    .portfolio-job-wrapper {
        display: flex;
        margin: 0;
        padding: 0;
    }

    .portfolio-img__wrapper {
        width: 50%;
        padding: 5% 0 5% 0;
    }

    .portfolio-image {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }

    .portfolio-description__wrp {
        padding: 5% 5% 5% 5%;
        align-items: center;
        vertical-align: middle;
        width: 40%;
    }

    .porfolio-job-description {
        font-size: 16px;
        width: 100%;
    }

    #kitchen {
        display: flex;
        flex-direction: row-reverse;
    }

    .btn {
        width: 30%;
        margin-top: 7%;
    }

}
@media(min-width: 960px) { 
    
    .portfolio-wrapper {
        width: 100%;
        background-color: darkslategray;
    }
    .portfolio {
        width: 80%;
        margin: 0 auto;
    }
    .portfolio-section {
        max-height: 100%;
        padding: 0 0 12% 0;
    }

    .text_wrapper {
        width: 70%;
        margin: 0 auto;
    }

    .portfolio-job-wrapper {
        padding: 0;
        margin: 0;
    }

    .portfolio-img__wrapper {
        padding: 0;
    }

    .portfolio-image {
        display: block;
        max-height: 300px;
        margin: 0 auto;
    }

    .portfolio-description__wrp {
        padding: 0 5% 0 5%;
    }

    .btn {
        width: 20%;
    }

    .famous-phrase-wrapper {
        min-height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .style_img2 {
        padding-left: 15%;
        /* width: 95%; */
    }
}